p i {
  position: relative;
}

p:hover i {
  top: -2px;
  left: 2px;
}

.main a:hover{
  text-decoration: none;
}

.main li:nth-of-type(2n) a:hover {
  color:red;
}

h1:hover {
  text-decoration: underline;
}

.secondary a:hover {
  text-decoration: overline;
}

.main li:nth-of-type(2n+1) a:hover {
  color:green;
  text-decoration: none;
}

p b {
  position: relative;
}

p:hover b {
  top: -2px;
  color: red;
}
