/* add code here */
#header h1 {
  text-decoration: underline green;
  color: green;
  padding: 5px;
}

/* #container p  */
.para.para {
  font-size: 25px;
  font-style: italic;
  color: purple;
}

/* add code here */

h1 {
  color: red;
}

.header h1 {
  color: blue;
}

p {
  text-decoration: underline;
}

.para {
  text-decoration: none;
  color: blueviolet;
}
