.container {
  border: 1px solid #000;
  padding: 5px;
}

.nav-top {
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  background-color: green;
  padding:8px;
}

.nav-top a {
  color:white;
}

.nav-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: blue;
  color:brown;
  padding:8px;
}

.nav-bottom a {padding: 4px;
  color:brown;
}

.container {
  position: relative;
  border: 1px solid black;
}

.container .legend {
  position: absolute;
  border: 1px solid red;
  background-color: grey;
}

.sup {
  position: relative;
  top: -3px;
  font-size: 11px;
}
